.item-info {
    display: flex;
    flex-direction: column;
    margin: 7px 1% !important;
    width: 23% !important;
    .card {
        margin: .5rem 0 0 0;
    }
    .card-info {
        display: flex;
        flex-direction: column;
        label:nth-child(1) {
            width: 100%;
            text-align: center;
            padding: 10px;
            font-weight: bold;
            color: #455A64;
            font-size: 0.9em;
        }
    }
    .card-action {
        display: flex;
        .icon-default {
            margin: auto;
            font-weight: bold;
            padding: 5px;
            border-radius: 3px;
            box-shadow: $box-shadow-lvl2;
            margin-left: 5px;
        }
        i:nth-child(3) {
            @extend .icon-default;
            color: green;
        }
        i:nth-child(2) {
            @extend .icon-default;
            color: $main_color_700;
        }
        label.card-price {
            border-bottom: solid 1px #eee;
            width: 64% !important;
        }
    }
}

.card_list {
    display: none;
    background-color: #dae1e4;
    position: absolute;
    z-index: 999;
    left: 50% !important;
    top: 17% !important;
    max-width: 1250px;
    transform: translateX(-50%);
    box-shadow: $box-shadow-lvl3;
    .empty {
        display: flex;
        flex-direction: column;
        img {
            margin: auto;
        }
    }
    table {
        thead tr {
            display: table;
            width: 100%;
            table-layout: fixed;
        }
        tbody {
            display: block;
            max-height: 420px;
            overflow-y: scroll;
            tr {
                display: table;
                width: 100%;
                table-layout: fixed;
                td {
                    font-size: 15px;
                    font-weight: bold;
                    color: $main_color_800;
                    label {
                        font-size: 15px;
                        font-weight: bold;
                        color: $main_color_800;
                    }
                    span.btn_icon {
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                    }
                    i {
                        color: $main_color_600;
                    }
                }
                td:nth-child(1) {
                    text-align: left;
                    width: 15%;
                    img {
                        max-width: 100%;
                    }
                }
                td:nth-child(6) span i {
                    padding-top: 7px;
                }
                .amount {
                    display: inline-grid;
                    label {
                        font-weight: bold;
                        color: $main_color_800;
                        font-size: 16px;
                        min-height: 32px;
                        margin-top: 5px;
                    }
                }
            }
            tr:nth-child(2) {
                td {
                    label {
                        color: #263238;
                        font-size: larger;
                    }
                }
                td:nth-child(4) span i {
                    padding-top: 7px;
                }
            }
        }
    }
}

.change_amounts {
    color: blue !important;
    transition: .3s linear;
}

label.card-amount {
    display: none;
    position: absolute;
    font-size: 143px;
    z-index: 999;
    padding: 3px 71px !important;
    top: 4%;
    transform: translateX(-50%);
    left: 50%;
    font-weight: bold;
    color: white;
    background-color: rgba(38, 50, 56, 0.6392156862745098);
}
label.card-amount-small {
    background-color: rgba(38, 50, 56, 0.639216);
    position:  absolute;
    top: 0px;
    right: 0px;
    padding: 7px;
    color: white;
    font-weight:  bold;
}
a.waves-effect.waves-light.verified-user.shoping-card {
    right: 70px !important;
}

a.waves-effect.waves-light.verified-user.shoping-card i {
    font-size: 1.8em !important;
}

.item-list.col.s12 {
    transition: ease-in .3s;
}

i.material-icons.close {
    color: red;
    font-weight: bold;
    padding: 5px;
    border-radius: 50%;
    position: absolute;
    right: 7px;
    top: 7px;
}
.edit-icon {
    padding: 5px;
    display: inline-flex;
    border-radius: 50%;
    color: white;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 999;
}