body{
    background:$main_color_300;
    min-height: 89vh;
    .row{
        margin: 0px;
    }
    .my-header {
        height: 45px;
    }
}
.row {
    width:  100%;
}
i.fa {
    color: white;
}
.green-text{
    color: #0bbd01 !important
}
.green-border{
    border-color: #0bbd01 !important
}
.green-text-border{
    border-color: #0bbd01 !important;
    color: #0bbd01 !important
}
.red-text{
    color: red !important;
}

.row form {
    width: 100%;
}
span {
    color: white !important;
}