.my-header {
    .my-nav {
        max-height: 45px;
        box-shadow: unset;
        nav.navbar.navbar-dark.fixed-top.navbar-expand-md.scrolling-navbar.my-nav {
            li.nav-item {
                font-size: 1.1rem;
            }
        }
        img.img-lvl-header {
            width: 3%;
            right: 9%;
            position: absolute;
        }
        ul.navbar-nav.ml-auto {
            span {
                li {
                    a {
                        font-weight: 500;
                        i {
                            margin-right: 5px;
                        }
                    }
                }
            }
        }
    }
    .user-setting {
        position:  absolute;
        left: 50%;
    }
    label.title-user-name {
        font-weight: bold;
        color: white;
    }
    .dropdown.edit-user button.btn.btn-primary.Ripple-parent {
        padding: 0px 13px !important;
        border-radius: 50%;
        background-color: inherit !important;
        box-shadow: unset;
    }
    i.fa {
        margin: 0px !important;
    }
    .dropdown.edit-user {
        display: inline-block;
        z-index: 9999;
    }
}