.sign_form {
    display: flex;
    align-items: center;
    justify-content: center;
    .btn-sign-up {
        background-color: #455A64 !important;
        margin-top: 15px;
    }
    .btn-default:not([disabled]):not(.disabled):active,
    .btn-default:not([disabled]):not(.disabled).active,
    .show>.btn-default.dropdown-toggle {
        background-color: #455A64 !important;
    }
    a.label-sign {
        margin-top: 10px;
        display: block;
        text-align: right;
        color: white;
        outline: unset;
        font-size: .9em;
    }
    img.user-img {
        width: 31%;
    }
    .div-user-img {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    span.big-title {
        font-size: 50px;
        font-weight: bold;
        color: white;
    }
    label.tip {
        color: $err_sign_color;
        font-size: .8em;
        font-weight: bold;
        margin-bottom: unset;
        transition: .5s ease-in;
    }
    i.fa.fa-user-plus.mr-1 {
        font-size: 1.3em;
    }
    .err_label {
        color: $err_sign_color !important;
        font-weight: bold;
    }
    .input-err {
        border-bottom-color: $err_sign_color !important;
        ;
    }
    input.form-control.input-err:focus {
        box-shadow: 0 1px 0 0 $err_sign_color !important;
        border-bottom-color: $err_sign_color !important;
    }
    .error-input:focus {
        box-shadow: 0 1px 0 0 $err_sign_color !important;
        border-bottom-color: $err_sign_color !important;
    }
    .error-input {
        border-bottom-color: $err_sign_color !important;
    }
    .success-sign-up {
        color: $err_sign_color !important;
    }
}

.example-appear {
    opacity: 0.01;
}

.example-appear.example-appear-active {
    opacity: 1;
    transition: opacity 400ms ease-in;
}

label.title-lvl {
    font-weight: bold;
    font-size: 30px;
    color: white;
}

.verify-email {
    height: 400px;
    position: absolute;
    left: 17%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

label.verify-noti {
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-align: center;
}

label.sign-up-success {
    text-align: center;
    font-size: 40px;
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
}

.opacity0 {
    opacity: 0;
}

img.auth-icon {
    width: 7%;
    margin: 0px 5px;
}

.col-md-12.auth-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 10px;
    justify-content: center;
}

.auth-icon .view.zoom.Ripple-parent {
    width: 9%;
    border-radius: 50%;
    margin: 0px 3px;
}

.confirm-box {
    min-height: 200px;
    position: absolute;
    top: 35%;
    left: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.confirm-box label.cancel-lbl {
    color: white;
    margin-left: 10px;
    cursor: pointer;
}
.confirm-box label.big-title {
    font-size: 30px;
    font-weight: bold;
    color: white;
    margin: 15px 0px
}
