.sign_form {
    display: flex;
    align-items: center;
    .btn-sign-up {
        background-color: #455A64 !important;
        margin-top: 15px;
    }
    .btn-default:not([disabled]):not(.disabled):active,
    .btn-default:not([disabled]):not(.disabled).active,
    .show>.btn-default.dropdown-toggle {
        background-color: #455A64 !important;
    }
    a.label-sign {
        margin-top: 10px;
        display: block;
        text-align: right;
        color: white;
        outline: unset;
        font-size: .9em;
    }
    img.user-img {
        width: 31%;
    }
    .div-user-img {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    span.big-title {
        font-size: 50px;
        font-weight: bold;
        color: white;
    }
    label.tip {
        color: $err_sign_color;
        font-size: .8em;
        font-weight: bold;
        margin-bottom: unset;
        transition: .5s ease-in;
    }
    i.fa.fa-user-plus.mr-1 {
        font-size: 1.3em;
    }
    .err_label {
        color: $err_sign_color !important;
        font-weight: bold;
    }
    .input-err {
        border-bottom-color: $err_sign_color !important;;
    }
    input.form-control.input-err:focus {
        box-shadow: 0 1px 0 0 $err_sign_color !important;
        border-bottom-color: $err_sign_color !important;
    }
    .error-input:focus{
        box-shadow: 0 1px 0 0 $err_sign_color !important;
        border-bottom-color: $err_sign_color !important;
    }
    .error-input{
        border-bottom-color: $err_sign_color !important;
    }
    .success-sign-up{
        color: $err_sign_color !important;
    }
}
.example-appear {
    opacity: 0.01;
 }
 .example-appear.example-appear-active {
    opacity: 1;
    transition: opacity 400ms ease-in;
 }
 label.title-lvl {
    font-weight:  bold;
    font-size: 30px;
    color: white;
}