.col.s12.message {
    label.message_title {
        width: 100%;
        float: left;
        text-align: center;
        padding: 10px;
        font-size: 30px;
        color: #263238;
        font-weight: bold;
    }
}